:root {
  --c-light: #c7ba9b;
  --c-dark: #e17927;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  color: white;

  perspective: 800px;

  font-family: minion-pro-caption, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c-light);
}

html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*===== Temp style =====*/

.text-input {
  padding: 0.2em 0.5em;

  font-size: 1.3rem;
  font-family: minion-pro-caption, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c-light);

  background: transparent;
  border: none;

  border-bottom: 1px solid var(--c-light);
  outline: none;
}

.text-input:focus {
  border-bottom: 1px solid var(--c-dark);
}

/*===== Text radio buttons =====*/

/*.text-radio-wrap {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  gap: .833rem;*/
/*}*/

.text-radio-item {
}

.text-radio-item input {
  display: none;
}

.text-radio-item input:checked + * {
  color: var(--c-dark);
}
