.root {
  --p: calc(2rem - 2px);

  position: relative;

  padding: var(--p);
  box-sizing: border-box;

  border: 1px solid var(--c-grey-dark);
  border-radius: .5rem;
}

.root::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: linear-gradient(145deg, var(--c-brown-50) 0%, var(--c-grey) 100%);
  border-radius: .5rem;
  opacity: .7;
  box-shadow: inset 0 0 5rem 0 var(--c-dark);
}

.root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;

  border-radius: .5rem;
  backdrop-filter: blur(8px) brightness(0.7);
}