.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.button {
  width: 16rem;

  text-transform: capitalize;
}

.description {

}