.root {
  --p: 3rem;

  position: relative;

  width: 100%;
  min-height: 100vh;
  padding: var(--p);
  box-sizing: border-box;

  background-image: url('background.png');
  background-size: cover;
  background-attachment: fixed;
}

.inner {
  position: relative;
  z-index: 1;
}
