.dice {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 99999;

  color: black;

  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
  transform-style: preserve-3d;

  perspective: 800px;
}

.side {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: calc(0.866 * 40px);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.side::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: deepskyblue;

  /*transform: scale(0.8);*/
  opacity: 0.95;
}

.side_1 {
}
.side_2 {
  transform-origin: 0 100%;
  perspective: none;
  transform: rotateZ(-60deg) rotateX(109.68deg);
}
.side_3 {
  transform-origin: 100% 100%;
  perspective: none;
  transform: rotateZ(60deg) rotateX(109.68deg);
}
.side_4 {
  transform-origin: 0 100%;
  perspective: none;
  transform: rotateZ(-180deg) translateX(-100%) rotateX(109.68deg);
}
