.dice {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 99999;


  width: 40px;
  height: 40px;
  color: black;

  transform-origin: 20px 20px -20px;

  transform: rotateX(var(--rotate-x,0)) rotateY(var(--rotate-y, 0)) rotateZ(0deg);

  /*transform: rotateX(20deg) rotateY(300deg) rotateZ(0deg);*/
  transform-style: preserve-3d;

  transition: all 300ms ease-in-out;

  perspective: 800px;


}

.side {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;


}

.side::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: deepskyblue;
  /*border-radius: 50%;*/
  /*filter: blur(1px);*/

  /*transform: scale(0.8);*/
  opacity: .85;
}

.side_1 {}
.side_2 {
  transform-origin: 0 0;
  perspective: none;
  transform: rotateZ(90deg) rotateX(-90deg) ;

}
.side_3 {
  transform-origin: 0 0;
  perspective: none;
  transform: translateY(100%) rotateX(-90deg);
}
.side_4 {
  transform-origin: 0 0;
  perspective: none;
  transform: rotateZ(-180deg) translateX(-100%) rotateX(-90deg);
}
.side_5 {
  transform-origin: 100% 0;
  perspective: none;
  transform: rotateZ(-90deg) rotateX(-90deg);
}
.side_6 {
  transform-origin: 50% 50%;
  perspective: none;
  transform: RotateZ(180deg)  translateZ(-40px);
}
