.dice {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 99999;

  color: black;

  transform: rotateX(330deg) rotateY(-330deg) rotateZ(0deg) translate(-50%, -50%);
  transform-style: preserve-3d;

  perspective: 800px;
}

.side {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: calc(0.866 * 40px);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


/* 54.736 */

.side::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: deepskyblue;

  /*transform: scale(0.8);*/
  opacity: .95;
}

.side_1 {
  transform-origin: 0 100%;
  perspective: none;
  transform: rotateX(35.264deg);
}
.side_2 {
  transform-origin: 0 100%;
  perspective: none;
  transform: rotateY(90deg) rotateX(-35.264deg);

}
.side_3 {
  transform-origin: 100% 100%;
  perspective: none;
  transform:rotateY(-270deg) translateX(100%) rotateX(35.264deg);
}
.side_4 {
  transform-origin: 50% 100%;
  perspective: none;
  transform: rotateY(-180deg) translateZ(40px) rotateX(35.264deg);
}
.side_5 {
  transform-origin: 50% 100%;
  perspective: none;
  transform: rotateZ(-180deg) rotateX(35.264deg);
}
.side_6 {
  transform-origin: 0 100%;
  perspective: none;
  transform: rotateZ(-180deg) rotateY(90deg) rotateX(35.264deg);
}
.side_7 {
  transform-origin: 100% 100%;
  perspective: none;
  transform: rotateZ(-180deg) rotateY(-90deg) rotateX(35.264deg);
}
.side_8 {
  transform-origin: 50% 100%;
  perspective: none;
  transform: rotateX(-180deg) translateZ(40px) rotateX(35.264deg);
}